* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
}

h1 {
    font-family: "Fredoka one";
    text-align: center;
    color: rgb(221, 12, 141);
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

p {
    margin-bottom: 40px;
    text-align: center;
    font-family: verdana;
}

.row {
    height: 130px;
    position: relative;
}

.cell {
    border: 3px solid rgba(255,255,255,0.9);
    width: 340px;
    background-color: rgb(31, 30, 30);
    position: absolute;
}

img {
    height: 80px;
}

.image {
    display: inline-block;
}

.texts {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top: 14px;
}

.titles {
    font-family: "Fredoka one";
    color: white;
}

.prof, .mail {
    font-family: verdana;
    font-size: 13px;
}

.prof {
    color: white;
}

.mail {
    color: rgb(83, 80, 255);
}

.one {
    left: 8px;
}

.two {
    left: 369.5px;
}

.thr {
    right: 8px;
}
