* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
}

h1 {
    font-family: "Fredoka one";
    text-align: center;
    color: rgb(221, 12, 141);
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

p {
    margin-bottom: 40px;
    text-align: center;
    font-family: verdana;
}

.cellscontainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
    row-gap: 35px;
}

.cell {
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
    background-color: rgb(31, 30, 30);
    flex-basis: 32%;
}

img {
    height: 80px;
}

.image {
    display: inline-block;
}

.texts {
    position: absolute;
    display: inline-block;
    margin-left: 10px;
    margin-top: 14px;
}

.titles {
    font-family: "Fredoka one";
    color: white;
}

.prof, .mail {
    font-family: verdana;
    font-size: 13px;
}

.prof {
    color: white;
}

.mail {
    color: rgb(83, 80, 255);
}
