* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    margin-top: 20px;
}

h1 {
    font-family: "Fredoka one";
    text-align: center;
    color: rgb(221, 12, 141);
}

main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

p {
    text-align: center;
    font-family: verdana;
}

.cell {
    width: 300px;
}

.tab {
    margin-top: 40px;;
}

.cell{
    background-color: rgb(31, 30, 30);
}

img {
    height: 80px;
}

.image {
    display: inline-block;
}

.texts {
    position: absolute;
    display: inline-block;
    margin-left: 5px;
    top: 50%;
    bottom: 50%;
}

.titles {
    font-family: "Fredoka one";
    color: white;
}